---
- name: Configure VM with Dockerized app + monitoring
  hosts: all
  become: true
  vars:
    image_repo: "{{ lookup('env', 'IMAGE_REPO') | default('yourdockerhub/flask-hello') }}"
    image_tag: "{{ lookup('env', 'IMAGE_TAG') | default('latest') }}"
    grafana_admin_password: "{{ lookup('env', 'GRAFANA_ADMIN_PASSWORD') | default('admin') }}"
  tasks:
    - name: Update apt cache
      apt: update_cache=yes cache_valid_time=600

  
    - name: Add Docker official apt repo
      block:
        - name: Install prerequisites
          apt:
            name:
              - ca-certificates
              - curl
              - gnupg
              - lsb-release
            state: present
            update_cache: yes

        - name: Add Docker GPG key
          apt_key:
            url: https://download.docker.com/linux/ubuntu/gpg
            state: present

        - name: Add Docker apt repository
          apt_repository:
            repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
            state: present
            update_cache: yes

  
    - name: Install docker and compose plugin
      apt:
        name:
          - docker.io
          - docker-compose-plugin
        state: present
